body{
    background-image: url(https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.box-wrapper{
    position: fixed;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%), 0 0px 40px rgb(0 0 0 / 18%);
    
    width: 25%;
    min-height: 60vh;
    padding:30px;
    background-color: #fff;
}

@media screen and (max-width:769px){
    .box-wrapper{
        width:90%;
    }
}
@media screen and (max-width:1023px ) and (min-width:780px){
    .box-wrapper{
        width:50%;
    }
}
.box-title{
    text-align: center;
    padding: 10px 0px;
}

.form-group{
    position: relative;
    padding:10px 0px;
}
.form-group input{
    padding: 10px 0px;
    margin: 10px 0px;
    outline: none;
    border:none;
    
}
.form-group .input-item{
    border-bottom: 1px solid #ddd;
    transition: all .4s ease-in-out;
    width:100%;
}
.form-group .input-item:focus{
    border-bottom-color: #e5195f;
}
.form-group .wrap-eye{
    position:absolute;
    right:0px;
  cursor: pointer;
    top: 50%;
    transform: translateY(-50%);

}
.form-group .wrap-eye .fa-eye{
display: none;
}
.form-group .wrap-eye.open .fa-eye{
display: block
}
.form-group .wrap-eye.open .fa-eye-slash{
display: none
}
.open{}
.form-submit {
    display: flex;
    justify-content: center;
}
.form-submit .btn-submit{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    color:#fff;
    background-image: linear-gradient(45deg,#00f7ff,#e06ee0);
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
     transition: all 0.25s cubic-bezier(0.02,0.01,0.47,1);
}
.form-submit .btn-submit:hover{
    /* animation: slideUp .25s linear forwards; */
    transform: translate(0,-5px);
    box-shadow: 0 15px 15px rgb(0 0 0 / 16%);
}
@keyframes slideUp {
    from{
        transform: translateY(0px)
    }
    to{
        transform: translateY(-5px)

    }
}

.form-group .account-text{
    margin-left: 10px;
}

.popup{
    position: fixed;
    bottom:-100%;
    left:50%;
    transform: translate(-50%,0);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%), 0 0px 40px rgb(0 0 0 / 18%);
    z-index: 3;
    background: #fff;
    text-align: center;
    padding: 10px;
    min-width: 240px;
    display: none;
    border:1px solid #e5195f;
}

.open-poup{
    bottom:1%;
    display: block;
    animation: poupSlide 0.25s ease-in-out forwards;
    transition: all 0.25s cubic-bezier(0.02,0.01,0.47,1);
  
    box-shadow: 0 15px 15px rgb(0 0 0 / 16%);
}

@keyframes poupSlide {
    from{
        transform: translate(-50%,0px)
    }
    to{
        transform: translate(-50%,-35px)

    }
}
