* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

@font-face {
    font-family: "Segoe UI";
    src: url(../fonts/Segoe-Ui/segoeui.woff);
}

html {
    font-family: "Segoe UI" !important;
    line-height: 1.6;
}
